<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Hello</title>
</head>
<body>
  <h1>Courses</h1>  
  <ul>
    <% courses.forEach(course=>{ %>
      <li><%= course.name%></li>
    <% }) %>
  </ul>
</body>
</html>